<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="Reg.css">
</head>
<body>
    <div class="BackG">
    <form>
        <h2>Log In </h2>
        <input type="text" class="T1A2" placeholder="Email Or Mobile Number"> <br>
        <input type="password" class="T1A2" placeholder="Enter Your password"> <br>
     <div id="forgot">
        <a id="forgotLink" href="https://www.google.com">Forgot your Password?</a> <br>
    </div>
        <label for="RM" id="RMBR">Remember Me</label>
        <input type="checkbox" id="RM"><br>
        <input type="submit" value="LogIn" id="ST">
        <hr>
        <p id="Or"> OR</p>
        <p id="have">Don't have an account? <a  id="Link" href="Registry.html">Sign Up</a> </p>
        
    </form>
   </div>
</body>
</html>